<div class="login-container">

  <mat-card class="login-card">

    <div class="login-header">

      <mat-icon class="login-icon">
        pets
      </mat-icon>

      <h2>Entrar</h2>

      <p>Bem-vindo ao PetManager</p>

    </div>

    <form (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">

        <mat-label>Email</mat-label>

        <input
          matInput
          type="email"
          name="email"
          [(ngModel)]="email"
          required>

        <mat-icon matSuffix>
          email
        </mat-icon>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Senha</mat-label>

        <input
          matInput
          type="password"
          name="senha"
          [(ngModel)]="senha"
          required>

        <mat-icon matSuffix>
          lock
        </mat-icon>

      </mat-form-field>

      <div
        *ngIf="mensagens"
        class="error">

        {{ mensagens }}

      </div>

      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="submit"
        [disabled]="carregando">

        <mat-icon *ngIf="!carregando">
          login
        </mat-icon>

        {{ carregando ? 'Entrando...' : 'Entrar' }}

      </button>

    </form>

    <div class="switch-link">

      Não possui uma conta?

      <a routerLink="/criar-usuario">

        Criar conta

      </a>

    </div>

  </mat-card>

</div>